.authorizate_form_without_users_wrapper {
	max-width: 400px;
	margin: 100px auto;
	border: 2px solid var(--side_color_one);
	font-size: 20px;
	text-align: center;
	padding: 20px;
	background-color: var(--side_color_two);
	border-radius: 6px;
	position: relative;
}
.authorizate_form_without_users_wrapper > p {
	font-size: 25px;
	font-weight: bold;
	color: var(--main_color_two);
}

.input_auth_form {
	padding: 5px;
	outline: none;
	border-radius: 6px;
	width: 80%;
	margin: 10px 0 5px;
	border: 2px solid var(--main_color_one);
}
.input_auth_form:focus{
	box-shadow: 0 0 3px 1.5px var(--main_color_two);
}

.submit_auth_button {
	outline: none;
	background-color: var(--main_color_one);
	color: var(--main_color_text);
	border: 2px solid var(--main_color_two);
	padding: 10px;
	border-radius: 6px;
	width: 50%;
	cursor: pointer;
	font-size: 20px;
	transition: 0.2s;
}

.submit_auth_button.back {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	padding: 6px;
	width: auto;
	margin: 5px;
	background-color: rgb(180, 50, 50);
	border: none;
	transition: 0.2s;
}
.submit_auth_button.back:hover {
	background-color: rgb(180, 50, 50);
	box-shadow: 0 0 3px 2px rgb(140, 50, 50);
}

.submit_auth_button.back:active {
	background-color: rgb(140, 50, 50);
	color: rgb(210, 210, 210);
	box-shadow: 0 0 3px 2px rgb(140, 50, 50);
}

.submit_auth_button:hover {
	box-shadow: 0 0 4px 1.5px var(--main_color_two);
}
.submit_auth_button:active {
	background-color: var(--main_color_two);
	box-shadow: 0 0 3px 3px var(--main_color_two);
}

.auth_radio {
	margin: 5px 0 15px auto;
	color: var(--main_color_two);
	font-size: 20px;

}

.auth_radio > span {
	margin-left: 10px;
}

.auth_radios_wrapper {
	width: 50%;
	text-align: left;
	margin: 0 auto;
}