body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--main_color_text: white;
	--side_color_text: grey;
	--main_color_one: #32CD32;
	--main_color_two: #228B22;
	--side_color_one: #DDA0DD;
	--side_color_two: #D8BFD8;
	--error_color_one: rgb(140, 50, 50);

	height: 500px;
	width: 100%;
}

#root {
	height: 500px;
	width: 100%;
}

